body {
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 3rem 10rem;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(21, 255, 0);
  font-size: 4rem;
  letter-spacing: 8px;
}

#main{
  padding: 2rem 0 0 0;
  border-radius: 3rem;
  border: dotted 2px black;
}

#container {
  margin: 0;
  padding: 0;
  background-image: url(./flammes.png);
  background-size: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0 0 3rem 3rem;
}

#button-clicker, #reset-button{
  background:  rgb(244, 244, 218);
  color: white;
  border: dotted 2px black; 
  margin-top: -2rem;
  padding: 1rem;
  border-radius: 1.5rem;
  cursor: crosshair;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 1px 4px 5px #CE5937;
  transition: all 0.3s;
  /* === pour que la page ne grossisse pas au click sur mobile  */
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
}
  /* === pour que la page ne grossisse pas au click sur mobile  */
  #button-clicker:focus, #reset-button:focus {
    outline: none;
  }

#button-clicker:hover,
#reset-button:hover {
  transform: scale(1.1);
}

#reset-button{
  margin: 3rem 7rem 0 7rem; 
  /* margin-top: 4rem; */
  padding: 1.2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catchphrase {
  margin: 3rem 0;
  text-align: center;
  color: rgb(21, 255, 0);
  font-weight: 900;
}

.number {
  margin: 1rem 0;
  text-align: center;
  color: white;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: bolder;
}

#timer {
  /* color: rgb(248, 248, 234); */
  color: rgb(21, 255, 0);
  /* text-shadow: 1px 4px 5px rgb(5, 5, 5); */
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bolder;
}

.tempsrestant{
  padding-bottom: 0.6rem;
  text-align: center;
  color: rgb(248, 248, 234);
  font-weight: 900;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(129, 49, 2);
}




@media screen and (max-width: 767px) {
  body {
    padding: 2rem 1.3rem;
  }
  #main{
    padding: 0;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 7px;
  }
  .catchphrase {
    margin: 1.5rem 0 3rem 0;
  }
  .catchphrase, .tempsrestant{
    font-size: 1rem;
  }
  .number {
    margin: 1rem 0;
    width: auto;
    height: 8rem;
    font-size: 6rem;
  }
  #timer{
    font-size: 1.5rem;
  }

  #reset-button{
    margin: 1.8rem; 
  }
  #button-clicker, #reset-button{
    font-size: 1.2rem;
    padding: 0.9rem;
  }
}